<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
	<%#= t 'spree.powered_by' %> <%#= link_to 'Solidus', 'http://solidus.io/' %>
	<p><%= t 'Sample E-commerce Web app' %> </p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>
